<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>donations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>

      <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div class="container" ng-app="donationz">
        <div ng-controller="DonationsCtrl as c">
          <div class="layout">
            <h2>Layout</h2>
            <button class="btn btn-default"
              ng-class="{active:c.isSessionActive(session.id)}"
              ng-repeat="session in c.sessions"
              ng-click="c.activateSession(session.id)"><i></i> {{session.title}}</button>
          </div>
          <div class="new-donation">
            <h2>Add Donation</h2>
            <form name="addForm"
              class="form-inline"
              role="form"
              novalidate ng-submit="addForm.$valid && c.addDonation()">
              <div class="form-group">
                <label>Project</label>
                <select
                  name="project"
                  ng-model="c.don.project"
                  required
                  class="form-control">
                  <option ng-repeat="p in c.projects" value="{{p.id}}">
                    {{c.sessionLookup[p.sessionId].title}}: {{p.title}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label>Amount</label>
                <input type="number"
                  name="amount"
                  ng-model="c.don.amount"
                  min="0"
                  max="999999999"
                  step="1"
                  required
                  class="form-control"/>
              </div>
              <button type="submit">Add</button>
            </form>
          </div>
          <div class="donations">
            <h2>Donations</h2>
            <table class="table">
              <tr>
                <th>Date</th>
                <th>Project</th>
                <th class="right">Amount</th>
              </tr>
              <tr ng-repeat="don in c.getDonations() | limitTo:25:0">
                <td>{{don.date | date : 'HH:mm:ss'}} <small>{{don.date | date : fullDate}}</small></td>
                <td>{{c.projectLookup[don.projectId].title}}</td>
                <td class="right">{{don.amount}}</td>
              </tr>
            </table>
          </div>


        </div>
      </div>



    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <script src="bower_components/angular/angular.min.js"></script>

    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- d3js -->
    <script src="bower_components/d3/d3.min.js"></script>

    <!-- APP CODE -->
    <script src="js/app.min.js"></script>


    </body>
</html>
